.container{
    position: relative;
    width: 80%;
    display: block;
}

.imageContainer{
    position: relative;
    width: 25%;
    aspect-ratio: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0 2rem 1rem 0;
}

@media only screen and (max-aspect-ratio: 13/9){
    .container{
      width: 90%;
    }
    .imageContainer{
        width: 100%;
        margin: 0 0 1rem 0;
    }
  }

.text{
    position: relative;
    width: 100%;
    color: #c1c1c1;
    white-space: pre-line;
}