.grid{
    position: "relative";
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media only screen and (max-aspect-ratio: 13/9){
    .desktop{
        display:none;
    }
}
.container{
    position: relative;
    width: 100%;
    aspect-ratio: 16/10;
    background-size: cover;
    background-position: center;
}