#__next{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background: green;
}

nav{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: yellow;
  z-index: 999;
}

main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

section{
  position: relative;
  width: 90vw;
  margin: 5rem 0;
}

.page{
  position: relative;
  width: 100vw;
  margin: 5rem 0;
}

.pageTitle{
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  color: lightgrey;
}

.titleFocus{
  position: relative;
  display: inline-block;
  color: rgba(0,0,0,0.7);
  white-space: pre;
}

footer{
  position: relative;
  width: 100%;
  background: white;
}


