.title{
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    margin: 1rem 0;
    background:linear-gradient(090deg, #000 0%, #c1c1c1 50%, #000 100%);
    background-clip: text;
    color: transparent;
    white-space: pre;
}

.titleFocus{
    position: relative;
    font-size: 2rem;
}
  
@media only screen and (max-aspect-ratio: 13/9){
    .pageTitle{
        display: none;
    }
}